.cards {
	display: flex;
	flex-direction: column;
	padding: 2rem;

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		justify-content: space-between;
		gap: 3rem;
		height: 40rem;
	}
}

.card {
	background-color: $very-dark-magenta;
	border-radius: 1rem;
	margin-bottom: 1.5rem;
	padding: 2rem;
	color: $white;

	&--start {
		align-self: flex-start;
	}
	&--end {
		align-self: flex-end;
	}
	&--center {
		align-self: center;
	}

	&__qoute {
		padding-top: 2rem;
	}

	&__header {
		display: flex;
	}

	/* 	@media (min-width: $breakpoint-tablet) {
		max-width: 29rem;
	} */

	&__heading {
		font-weight: bold;
	}

	&__position {
		font-size: 1rem;
		color: $soft-pink;
	}

	&__image {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		margin-right: 2rem;
	}
}
